################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/src/demo.middleware/bin/Debug/netcoreapp1.0
/src/demo.middleware/obj/Debug/netcoreapp1.0
/src/demo.di/bin/Debug/netcoreapp1.0
/src/demo.di/obj/Debug/netcoreapp1.0
/src/demo.appinsights/bin/Debug/netcoreapp1.0
/src/demo.appinsights/obj/Debug/netcoreapp1.0
/src/demo.auth/bin/Debug/netcoreapp1.0
/src/demo.auth/obj/Debug/netcoreapp1.0
/src/demo.configuration/bin/Debug/netcoreapp1.0
/src/demo.configuration/bin/Release/netcoreapp1.0
/src/demo.configuration/obj/Debug/netcoreapp1.0
/src/demo.configuration/obj/Release/netcoreapp1.0
/src/demo.ef/bin/Debug/netcoreapp1.0
/src/demo.ef/obj/Debug/netcoreapp1.0
/src/demo.empty/bin/Debug/netcoreapp1.0
/src/demo.empty/obj/Debug/netcoreapp1.0
/src/demo.gulp/bin/Debug/netcoreapp1.0
/src/demo.gulp/obj/Debug/netcoreapp1.0
/src/demo.mvc/bin/Debug/netcoreapp1.0
/src/demo.mvc/obj/Debug/netcoreapp1.0
/src/demo.npm/bin/Debug/netcoreapp1.0
/src/demo.npm/obj/Debug/netcoreapp1.0
/src/demo.taghelpers/bin/Debug/netcoreapp1.0
/src/demo.taghelpers/obj/Debug/netcoreapp1.0
/src/demo.webapi/bin/Debug/netcoreapp1.0
/src/demo.webapi/obj/Debug/netcoreapp1.0
/src/demo.auth/bin/src/demo.auth/bin/Debug/netcoreapp1.0
/src/demo.auth/bin/src/demo.auth/obj/Debug/netcoreapp1.0
/src/demo.ef/bin/src/demo.ef/bin/Debug/netcoreapp1.0
/src/demo.ef/bin/src/demo.ef/obj/Debug/netcoreapp1.0
/src/demo.npm/node_modules
/src/demo.gulp/node_modules
